* {
  margin: 0;
  padding: 0;
}

html, body, canvas.view {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

table {
  border-collapse: collapse;
}

.fovControls {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px;
}

.fovControls table + table {
  margin-top: 10px;
}

input[type=button], button {
  width: 30px;
  height: 30px;
  border-radius: 0;
}

.resetButton {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
  border-width: 1px;
}
